<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="FrameworkConfigSection">
      <section name="FrameworkConfig" type="Ada.Framework.Configuration.Section.FrameworkConfigSection, Framework.Configuration" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <FrameworkConfigSection>
    <FrameworkConfig>
      <ConfigProperties>
        <PropertiesGroup Name="Log4Me">
          <Property Name="LibrariesFolderWriters" Value="'.[DS]'" />
        </PropertiesGroup>
      </ConfigProperties>
      <ConfigFiles>
        <File Name="Log4MeConfig" Path=".[DS][FileName]" />
      </ConfigFiles>
    </FrameworkConfig>
  </FrameworkConfigSection>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Util.FileMonitor" publicKeyToken="cce9a8bd2757fac3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.1" newVersion="1.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Framework.Configuration" publicKeyToken="f8f7920de1ae00a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Data.DBConnector" publicKeyToken="2452f4aa82c6d2c9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.2.0" newVersion="2.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>